@using Dokan.Models.Models.ProductCatalog
@model IEnumerable<Product>

@{
    ViewBag.PageTitle = "Product management";
    ViewBag.CardTitle = "View Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="mb-3">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Create">Create New Product</a>
</div>

    
<table class="table table-bordered table-striped data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th style="width:160px;">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.FullDescription</td>
            <td>@item.Price</td>
            <td>@item.Category?.Name</td>
            <td>
                <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                <a asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger btn-sm delete-btn">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/DataTable&DeleteSweetalert.js"></script>
}


