@using Dokan.Models.Models.ProductCatalog
@model IEnumerable<Category>

@{
    ViewBag.PageTitle = "category managment";
    ViewBag.CardTitle = "view categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>
    <a class="btn btn-primary" asp-action="Create">Create New Category</a>
</div>

<br />

<table class="table table-hover w-100 data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
   <tbody>
        @foreach (var category in Model)
        {
            <tr>
    
                <td>@category.Name </td>
                <td>@category.Description </td>
                <td>@category.CreatedAt</td>
                <td>
                    <a class="btn btn-info" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
   </tbody>
</table>

@section Scripts {
    <script src="~/js/DataTable&DeleteSweetalert.js"></script>


                }